.popular{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 1rem;
}

.categories-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: flex-start;
    padding: 20px 0 0;
    li  {
        list-style: none;
        margin: 0 4px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.shop {
    h2 {
        margin: 1.5em 1em 1em 1em;
        font-size: 1.8rem;
    }
}

#bs-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    p {
        color: rgb(187, 187, 187);
        font-weight: 600;
    }
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: .4rem;
    height: 17rem;
    border-radius: 1rem;
    position: relative;

    img {
        border-radius: 1rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        padding: .4rem;
        background-color: var(--color2);
        align-self: center;
    }

    .rating {
        font-size: .8rem;
        margin-top: .4rem;
        color: grey;
    }

    p {
        margin-left: .7rem;
    }

    h4 {
        margin: .2rem .7rem;
        display: block;
        max-block-size: 3.1em;
        overflow: hidden;
        height: 3rem;
    }

    .price {
        color: var(--color1);
        font-weight: 600;
    }

}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.flexSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        position: relative;
        max-width: 90%;
    }
    .noStyleBtn {
        position: absolute;
        left: 1rem;
        top: 2.4rem;
    }
    
}