.sort {
    margin: .5rem 1rem 2rem;
    color: grey;
    select {
        color: var(--color1);
        appearance: none;
        border: none;
        background-color: transparent;
        outline: none;
        font-weight: bold;
        font-size: 1rem;

    }
}